<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32002">
    	<setting  id="language" label="32001" type="select" values="de|en|es" default="en"/>
    </category>

    <category label="32003">
      <setting id="PNmatch" type="bool" label="32006"   default="false"/>
    </category>
</settings>
